* {
  margin: 0;
  background-color: #0f0f0f;
  height: 100vh;
}

.Container {
  position: relative;
  margin: 0%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.Card {
  position: relative;
  max-height: 412px;
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.common {
  background-image: linear-gradient(#0f0f0f, rgb(0, 207, 38));
  display: block;
}

.rare {
  background-image: linear-gradient(#0f0f0f, rgb(0, 225, 210));
  display: block;
}

.epic {
  background-image: linear-gradient(#0f0f0f, #800080);
  display: block;
}

.legendary {
  background: linear-gradient(
    -45deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
  background-size: 1200% 1200%;
  -webkit-animation: rainbow 30s ease infinite;
  animation: rainbow 3.5s ease infinite;
}

.color img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(85%);
  -webkit-transition: all 2s ease;
}

.color img:hover {
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 0.5s ease;
}

.grow img {
  transition: 1s ease;
}

.grow img:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  transition: 1s ease;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
/* Toggle Button Style */
.btn-wrapper{
  padding-top: 1%;
  padding-bottom: 2%;
  padding-left: 3.5%;
  height: 40px;
  width: 100%;
  right: 50px;
}
.myButton{
  color:black;
  background-color: rgb(245, 218, 179);
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  position: relative;
  height: 40px;
}
.myButton.active{

  background-color: rgb(122, 117, 117);

}
/* Counter Style */
.count-container {
  padding: 5px;
  font-size: 39px;
  color: rgb(245, 218, 179);
  padding: 1%;
  padding-right: 4%;
}